<div class="accordion-container">
  <button class="accordion-btn">Summary</button>
  <a href="https://ideas.repec.org/p/cen/tnotes/23-19.html" class="accordion-btn file-link" target="_blank">Link</a>
</div>

<div class="accordion-content" id="content1">
  <p>We construct novel parent-child linkages between the universe of parent tax
filers in IRS 1040 forms in 1974 and 1979 and the universe of children from
the Census Numident in the cohorts of 1964 to 1979. Variables used for
matching are parent names of children and names of parent tax filers, which are
obtained from a restricted name file provided by the Social Security
Administration. Applying name-matching techniques that incorporate
supervised learning methods, we flexibly compare parent names and
disambiguate parent-to-parent matches. This report documents the iterative process for identifying matches
and the algorithm that is used for assessing the likelihood of a match. We
provide match rates for different demographic groups and validate the accuracy
of the linkages.
</p>
</div>
