<div class="accordion-container">
  <button class="accordion-btn">Abstract</button>
  <a href="assets/files/IGM_and_Highways_October_2025.pdf" class="accordion-btn file-link" target="_blank">PDF</a>
</div>

<div class="accordion-content" id="content1">
  <p>Municipalities enforce stringent zoning policies as increased housing supply 
    can create concentrated local losses, but these regulations inefficiently limit the 
    aggregate supply of housing. We measure the winners and losers of housing construction to 
    shed light on the political challenges associated with zoning reform. Local losses are key as 
    decision-making occurs at the municipal level, despite cross-jurisdictional externalities. 
    We study multiple forces leading municipalities to desire stringent regulations: inflation of home prices, local and 
    municipal amenities from demographics, fiscal motives from property taxation, and externalities from density. 
    Using New Jersey as a case study and data on local public finances, detailed zoning codes, property characteristics, 
    and individual migration histories, we present empirical evidence from border discontinuity and event study designs on 
    the importance of each channel. We develop a dynamic model of residential choice that accounts for wealth accumulation 
    and differential migration patterns by homeowners and renters. In future work, we will investigate whether state-level 
    policy may tilt political support in favor of policy reform.
</p>
</div>

