<div class="accordion-container">
  <button class="accordion-btn">Abstract</button>
  <a href="assets/files/Unequal_Access_Manuscript.pdf" class="accordion-btn file-link" target="_blank">PDF</a>
  <a href="assets/files/Unequal_Access_Appendix.pdf" class="accordion-btn file-link" target="_blank">Appendix</a>
  <a href="assets/files/Unequal_Access_Complete.pdf" class="accordion-btn file-link" target="_blank">PDF + Appendix</a>
  <a href="#highways-data" class="accordion-btn file-link">Data</a>
</div>

<div class="accordion-content" id="content1">
  <p>This paper measures the Interstate Highway System's impact on welfare inequality in cities separately by race and education. I quantify the incidence of commute benefits from connecting residences to workplaces, costs where highways are built, and equilibrium responses using novel data on commuting and historical maps nationwide. Given the concentration of benefits in suburbs and costs in the urban core, differential suburbanization by race, more pronounced than by education, contributes to racial gaps in welfare gains. Using a spatial equilibrium framework, opening access to peripheral areas for minority families eliminates the majority of the gap while preserving aggregate welfare improvements.
</p>
</div>
