<div class="accordion-wrapper">
<div class="accordion-container">
  <button class="accordion-btn">Abstract</button>
</div>

<div class="accordion-content" id="content1">
  <p>We study the political economy of local zoning decisions and its impact on
public goods provision. In the United States, public goods are provided locally
and financed through property taxation. This arrangement incentivizes
municipalities to attract more affluent residents (or rather to exclude poorer
ones) which they often achieve through stringent zoning regulations. As
restrictive land-use exerts a negative externality on other municipalities in the
same metropolitan area, zoning decisions at the municipality level can
generate inefficiency more broadly. To study the impacts of local decisionmaking, we develop a dynamic framework of residential choice that integrates
voting models from political economy. Our framework is estimated using
historical series of Censuses of Governments on municipal revenue and
expenditures, individual-level migration history, and a novel panel dataset on
land-use regulations. We examine if a counterfactual with inter-municipal
coordination, rather than local authority in zoning, is a politically feasible path
to reducing inefficiency in housing and inequality in public goods.
</p>
</div>
</div>
