<div class="accordion-container">
  <button class="accordion-btn">Abstract</button>
  <a href="assets/files/IGM_and_Highways_October_2025.pdf" class="accordion-btn file-link" target="_blank">PDF</a>
</div>

<div class="accordion-content" id="content1">
  <p>This paper studies the aggregate impacts of a prominent place-based policy, the Interstate highway system, on the local economic development of neighborhoods and 
    the intergenerational outcomes of children. I employ a newly linked panel of the near-universe of children born between 1964 and 1979. Greater commuting access from 
    Interstate construction raises the average income of existing residents. Given the large-scale nature of the policy, targeted census tracts also experience equilibrium 
    effects through inflows of higher SES households. Direct income effects and equilibrium migration effects both have causal benefits for children, as estimated using a 
    movers design. However, migration leads to spillovers elsewhere as areas with lower access improvements worsen in peer quality, adversely affecting children in those 
    locations. Within a spatial framework that measures intergenerational impacts, direct economic access effects boost economic mobility as low-income children benefit the most. 
    In contrast, changes in neighborhood composition increase spatial inequality of opportunity.
</p>
</div>

