div class="accordion-container">
  <button class="accordion-btn">Abstract</button>
</div>

<div class="accordion-content" id="content1">
  <p>We study the channels through which changes in local economic conditions
during early childhood affect long-run outcomes for children from differing
economic backgrounds. We exploit geographic variation across counties in the
decline of manufacturing employment during the 1979 to 1984 period with
microdata from the Longitudinal Business Database. To assess the exogeneity
of local labor market shocks, we construct additional shocks by combining
industry-level energy intensity with spikes in oil prices as a result of the 1979
energy crisis. With administrative and survey data that trace the full trajectory
of the children’s lives, we measure how these local changes impact educational
attainment, income, and the quality of the firm of employment in the modern
day. We explore how migration of parents away from counties experiencing
declines and changes in parental income during childhood are central mediators
for our findings.
</p>
</div>
