<div class="accordion-container">
  <button class="accordion-btn">Abstract</button>
  <a href="assets/files/municipal_zoning_11_25.pdf" class="accordion-btn file-link" target="_blank">PDF</a>
</div>

<div class="accordion-content" id="content1">
  <p>Local governments often restrict the construction of new housing through zoning and permitting hurdles. This resistance suggests that increasing the housing stock in an area may
harm some of its existing residents. Understanding these losses is key to facilitating new
housing construction. In this paper, we aim to measure who gains and who loses from a local
increase in the housing supply, and why. We build a model of household location choices
over time, allowing us to measure the effect of construction on amenities, prices, and local
taxes. To estimate this model, we employ detailed data describing individual housing units,
households and their migration patterns, local public finances, and zoning regulations.
</p>
</div>

