<div class="accordion-container">
  <button class="accordion-btn">Abstract</button>
  <a href="assets/files/IGM_and_Highways_March_2026.pdf" class="accordion-btn file-link" target="_blank">PDF</a>
</div>

<div class="accordion-content" id="content1">
  <p>This paper studies how transportation infrastructure improves job access and, in turn, shapes neighborhood economic development 
    and the intergenerational outcomes of children. I use a newly linked administrative dataset covering the near-universe of families 
    with children born between 1964 and 1979. Increased commuting access from Interstate highway construction raises average neighborhood 
    income through both direct income gains for existing residents and compositional changes driven by selective migration. Using a movers design, 
    I show that increases in neighborhood income benefit children and reduce intergenerational inequality, with larger gains for children from 
    lower-income families. However, migration responses generate negative spillovers: areas with smaller access improvements experience declines 
    in peer quality, adversely affecting children in those locations. I develop an accounting framework to quantify the aggregate effects on 
    intergenerational mobility and find that the direct economic benefits of improved access outweigh these negative spillovers. Nevertheless, 
    changes in neighborhood composition increase the spatial inequality of opportunity.
</p>
</div>

