<div class="accordion-container">
  <button class="accordion-btn">Abstract</button>
  <a href="assets/files/IGM_and_Highways_Current.pdf" class="accordion-btn file-link" target="_blank">PDF</a>
</div>

<div class="accordion-content" id="content1">
  <p>Place-based policies often aim to improve local economic opportunity and at large scale, 
    trigger household migration that alters the peer composition of neighborhoods (1) directly targeted 
    and (2) indirectly affected through migration. Aside from the immediate impact of the policy, general 
    equilibrium (GE) changes in peer composition are also important determinants of economic mobility—and 
    create winners and losers. I study these equilibrium effects in the context of the interstate highway 
    system, a transformative place-based policy for U.S. cities. I employ novel measures of intergenerational 
    mobility for the near universe of 57 million children born between 1964 to 1979. I find areas with 
    commuting access improvements from highway construction experienced increases in average income and 
    inflows of higher-educated, higher-occupational status, and White households. With detailed income 
    and location for 1974 to 2018, I extend the movers design to find that both Black and White children 
    benefit from growing up in neighborhoods (tracts) with greater average income and higher status peers. 
    In areas with lower access improvements, which experience outflows of high-status peers, children 
    subsequently face declines in economic opportunity. I incorporate these GE forces into a spatial 
    equilibrium framework to quantify the aggregate consequences of the interstate system on 
    intergenerational mobility by race.
</p>
</div>

