---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

header {
  img {
    display: block;
    width: 250px;
    height: auto;
    margin: 0 auto 20px;  // Centers the image and adds space below
  }

  h1 {
    margin-bottom: 20px; // Adds space below the title

    a {
      color: #313131 !important;
    }

    a:hover {
      color: #303030 !important;
      text-decoration: none;
    }
  }
  
}

h1 {
  font-size: 30px;
  font-weight: 600;
  color: #313131;
}

a:hover {
  font-weight: inherit !important;
}


.wrapper {
  width: 860px;  // Adjust total width as needed
}

header {
  width: 240px;  // Adjust width of left sidebar
}

section {
  width: 570px;  // Adjust width of main content area
}
