---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

header {
  img {
    display: block;
    width: 250px;
    height: auto;
    margin: 0 auto 22.5px;  // Centers the image and adds space below
  }

  h1 {
    margin-bottom: 22.5px; // Adds space below the title

    a {
      color: #313131 !important;
    }

    a:hover {
      color: #303030 !important;
      text-decoration: none;
    }
  }
  
}

h1 {
  font-size: 30px;
  font-weight: 600;
  color: #313131;
}

a[href^="mailto:"] {
  font-weight: 700;
}

a:hover {
  font-weight: inherit !important;
}


.wrapper {
  width: 860px;  // Adjust total width as needed
}

header {
  width: 240px;  // Adjust width of left sidebar
}

section {
  width: 570px;  // Adjust width of main content area
}



// Responsive styles
@media screen and (max-width: 800px) {
  .wrapper {
    width: auto;
    margin: 0;
  }

  header, section, footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
  }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}

@media screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header ul, header p.view {
    position: static;
  }

  pre, code {
    word-wrap: normal;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  header ul {
    width: 99%;
  }

  header li, header ul li + li + li {
    width: 33%;
  }
}

img {
  max-width: 100%;
  height: auto;
}
