---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

header {
  img {
    display: block;
    width: 220px;
    height: auto;
    margin: 0 auto 22.5px;  // Centers the image and adds space below
  }

  h1 {
    margin-bottom: 22.5px; // Adds space below the title

    a {
      color: #313131 !important;
    }

    a:hover {
      color: #303030 !important;
      text-decoration: none;
    }
  }
  
}

h1 {
  font-size: 30px;
  font-weight: 600;
  color: #313131;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: 14px;
  font-weight: 400;
  color: #303030;
  margin-top: 22px;
  margin-bottom: 5px;
}

a[href^="mailto:"] {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

a:hover {
  font-weight: inherit !important;
}


// Size of sidebar versus content

.wrapper {
  width: 900px;  // Adjust total width as needed
}

header {
  width: 230px;  // Adjust width of left sidebar
}

section {
  width: 620px;  // Adjust width of main content area
}



// Accordion
.accordion-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 8px;
  margin-bottom: 5px;
}

.accordion-btn, .file-link {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 2px 6px;
  border: none;
  outline: none;
  transition: 0.3s;
  font-size: 13px;
  border-radius: 6px;
}

.accordion-btn:hover, .file-link:hover {
  background-color: #ddd;
}

.accordion-btn.active {
  background-color: #ccc;
}

.accordion-content {
  display: none;
  padding: 0px;
  font-size: 12px;
  color: #303030;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
}


// Responsive styles
@media screen and (max-width: 800px) {
  .wrapper {
    width: auto;
    margin: 0;
  }

  header, section, footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
  }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}

@media screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header ul, header p.view {
    position: static;
  }

  pre, code {
    word-wrap: normal;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  header ul {
    width: 99%;
  }

  header li, header ul li + li + li {
    width: 33%;
  }
}

img {
  max-width: 100%;
  height: auto;
}
