---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-size: 11pt;
  font-weight: 400;
}

header img {
  width: 270px;
  height: auto;
}


h1 {
  font-size: 22pt;
  font-weight: 600;
  color: #313131;
}

a:hover {
  font-weight: inherit !important;
}

header h1 a {
  color: #313131 !important;
}

header h1 a:hover {
  color: #303030 !important;
  text-decoration: none;
}

.wrapper {
  width: 960px;  // Adjust total width as needed
}

header {
  width: 240px;  // Adjust width of left sidebar
}

section {
  width: 670px;  // Adjust width of main content area
}
